/* file location: /static/css/custom.css */
@import "../reveal-js/dist/theme/template/mixins";
@import "../reveal-js/dist/theme/template/settings";

/* $backgroundColor: #23252a; */
$backgroundColor: #fff;
$mainColor: #fff;
$headingColor: #fff;

html.speaker-view .speaker-notes .value {
    font-size: 1.25em !important;
}
html.speaker-view[data-speaker-layout="tall"] .speaker-controls {
    font-size: 1.5rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #cfd7de;
  font-size: 1.5rem; !important;
  text-align: center; !important;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

